body {
 background-color: rgb(255, 255, 255);  
 min-width: 400px;
 min-height: 600px;
 }

#runevent {
    display: inline;
    height: 30px;
    width: 100px;
    outline: none;
    margin: 10px;
    color: darkslategray;
  
  }
  
  button.current {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0),
                0 0 0 4px black;
  }

  .infocontainer, .footer, .domaincontainer, #wplogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }

.field { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

  a:link, a:visited {
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
    font-size: x-small;
  }
  
  a:link:active, a:visited:active {
    color: (internal value);
  }

  #privacy {
    display:inline;   
    height: 100px;
    width: 90px;
    outline: none;
    margin: 10px;
    color: darkslategray;
  }